#sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 450px; 
    height: 450px;
    margin: 20px auto;
    border: 3px solid black;
}

.sudoku-cell {
    border: 1px solid #aaa;
    text-align: center;
    font-size: 20px;
}

.pre-rempli {
    background-color: #eee;
    font-weight: bold;
    color: #333;
}